<div class="row">
	<div class="col-md-4 col-md-offset-4">
	<h1 class="text-center">Congrats <%=current_user.name.split(" ")[0]%>!  :)</h1>
	<h3 class="text-center">You're about to create a New Client</h3>

		<%= form_for @client, method: :post, url: clients_path  do |f| %>
		<div class="form-group">
			<%= f.label :name %>:
			<%= f.text_field :name, class: "form-control" %>
		</div>
			
		<div class="form-group">
			<%= f.label :contact %>:
			<%= f.text_field :contact_name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email %>:
		    <%= f.email_field :email, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :phone %>:
		    <%= f.text_field :phone, class: "form-control" %>
		</div>

		  <%= f.submit "Create",class: 'btn btn-danger btn-block ' %>
		<% end %>

	</div>
</div>