<div class="container">
	<div class="row">
		<div class="col-md-5">
			<%= image_tag 'http://lorempixel.com/450/250/business/', class: 'img-responsive' %>
		</div>
		<div class="col-md-5">
			<h2 style="margin-top:0px">Project: <%= @project.name %></h2>
			<h4>Description: <%= @project.description %>
			<h4>Client: <%= @project.client.name %>
			<h4>Email: <%= @project.client.email %>
			<h4>Created at: <%= @project.created_at.strftime("%I:%M %p %b %d") %>
			<br>
			<br>
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#file">Add File</button>
		
			<td><%= link_to "Back to Projects", projects_path, class: 'btn btn-primary btn-sm' %></td>
			<td><%= link_to "Delete Project", project_path, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "Are you sure you want to delete?"}%></td>
		</div>	
	</div>
<br>
<br>
	<%= render 'assets/form_new_asset_file'%>

	
	<% if @assets.present? %>
	<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Uploaded by</th>
		      <th>Type</th>
			  <th>Download</th>
			  <th>Details</th>


		    </tr>
		  </thead>
		<% @assets.each do |asset| %>
			<tbody>
			    <tr>
					<td><%= asset.name%> </td>
					<td><%= asset.description%> </td>
					<td><%= asset.user.name %> </td>
					<td><%= asset.file_type %> </td>
					<% if asset.file_type == "image" %>
						<td><%= link_to "Download", asset.image.url(:medium), :"download"=>"image", class: 'btn btn-danger btn-xs' %></td>
					<% elsif asset.file_type == "pdf" %>
						<td><%= link_to "Download", asset.pdf.url, :"download"=>"pdf", class: 'btn btn-danger btn-xs' %></td>
					<% end %>
					<td><%= link_to "File details", project_asset_path(asset.project.id, asset.id), class: 'btn btn-primary btn-xs', method: :get %></td>
		     
			    </tr>
			<% end %>
		  </tbody>
		</table>
		<% end %>

</div>

