<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<%= image_tag 'http://lorempixel.com/700/500/business/', class: 'img-responsive' %>
		</div>
		<div class="col-md-5">
			<h3>Project <%= @project.name %></h3>
			<h4>Description <%= @project.description %>
			<button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#image">Add Image</button>
			<button type="pdf" class="btn btn-danger btn-md" data-toggle="modal" data-target="#pdf">Add PDF</button>
		</div>

	
	</div>

	<%= render 'assets/form_new_asset_image'%>
	<%= render 'assets/form_new_asset_pdf'%>

	
	<% if @assets.present? %>
	<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Type</th>
		    </tr>
		  </thead>
		<% @assets.each do |asset| %>
			<tbody>
			    <tr>
			      <td><%= asset.name%> </td>
			      <td><%= asset.description%> </td>
			      <td><%= asset.file_type %> </td>
			     
			    </tr>
			<% end %>
		  </tbody>
		</table>
		<% end %>

</div>

