<div class="row">
<div class="col-md-8 col-md-offset-1">

<h1>These are all the members using AGENCYBOX</h1>
<h2>Want to create a new one? </h2>

<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newuser">Create User</button>
<br>
<br>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1">


<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Delete User</th> 
		    </tr>
		  </thead>
		<% @users.each do |user| %>
			<tbody>
			    <tr>
					<td><%= user.name%> </td>
					<td><%= user.email%> </td>
					<td><%= link_to 'Delete', user_path(user.id), class: 'btn btn-danger btn-xs', method: :delete %><td>

		     
			    </tr>
			<% end %>
		  </tbody>
		</table>

</end>
</end>

<div id="newuser" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">

		        <h4 class="modal-title">Create a new user</h4>
      </div>
        <div class="modal-body">
            <%= form_for(@user, url: user_index_path, method: :post) do |f| %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true,  class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Role_Admin? %>
          <%= f.check_box :admin, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>
          <br>
        <div class="actions">
          <%= f.submit "Create",class: 'btn btn-danger btn-block' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

