<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Client: <%= @client.name %></h3>
			<h5>Contact: <%= @client.contact_name %></h5>
			<h5>Email: <%= @client.email %></h5>
			<h5>Phone: <%= @client.phone %></h5>
			<h3>Project: <%= @project.name %></h3>
			<h5>Description: <%= @project.description %></h5>
			<% if @assets.any? %>
				<h5>Current Files: </h5>
				<% @assets.each do |asset|%>
					<div class="col-md-4">
						<%= image_tag asset.image.url(:medium), class: 'img-responsive' %>
					</div>
				<% end %>
			<% end %>
			<button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal">Add File</button>
		</div>

	
		</div>

	</div>


	
	</div>

	<div id="hola" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add File to <%= @project.name.titleize %></h4>
	      </div>
	      <%= form_for @asset, method: :post, url: project_assets_path(@project), html: {multipart: true} do |f| %>
		      <div class="modal-body">
		      	<ul><%=	f.label :name %></ul>
		      	<ul><%= f.text_field :name, autofocus: true %></ul>
		      	<ul><%=	f.label :description %></ul>
		      	<ul><%= f.text_area :description, :size => 450%></ul>
		      	<ul><%=	f.label :file_type %></ul>
		      	<ul><%= f.text_field :file_type %></ul>	
		      	<ul><%=	f.label :Upload_Document %></ul>
		      	<ul><%=	f.label :Image %></ul>
		      	<ul><%= f.file_field :image %></ul>
		      	<ul><%=	f.label :PDF %></ul>
		      	<ul><%= f.file_field :pdf %></ul>

		      </div>
		      <div class="modal-footer">
		      	<div class="button-group">
			      	<%= f.submit 'Upload', class: 'btn btn-danger pull-left' %>
		        	<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
		        </div>
		      </div>
	      <% end %>	      
	      </div>
	    </div>
</div>



