<div class="container">
	
<div class="row">
	
		<div class="col-md-6 col-md-offset-1">

			<h3>Name: <%= @asset.name %></h3>
			<h3>Description: <%= @asset.description %></h3>
			<h3>File type: <%= @asset.file_type %></h3>
			<h3>Posted by: <%= @asset.user.name%></h3>
			<h3>For the project: <%= @asset.project.name%></h3>
			<h3>Created at: <%= @asset.created_at.strftime("%I:%M %p %b %d")%></h3>


		
		<% if @asset.image.present? %>
			<%= image_tag @asset.image.url(:medium) %>

		<% if @asset.pdf.present? %>

		<% end %>
		<% end %>
		<br>
		<br>
		<%= link_to "Back to Files", assets_path, class: 'btn btn-primary btn-sm' %>
		<%= link_to "Delete Asset", project_asset_path(@asset.id), method: :delete, class: 'btn btn-danger btn-sm' %>
		<%= link_to "Download", project_asset_path(@asset.id), method: :delete, class: 'btn btn-danger btn-sm' %>

		</div>


	</div>

</div>


