<div class="container">
	
<div class="row">
	
		<div class="col-md-5 col-md-offset-1">

			<h3>Name: <%= @asset.name %></h3>
			<h3>Description: <%= @asset.description %></h3>
			<h3>File type: <%= @asset.file_type %></h3>
			<h3>Posted by: <%= @asset.user.name%></h3>
			<h3>For the project: <%= @asset.project.name%></h3>
			<h3>Created at: <%= @asset.created_at.strftime("%I:%M %p %b %d")%></h3>

		</div>

			<div class="col-md-5 col-md-offset-2">
		
		<% if @asset.image.present? %>
		<h3>This is the file you just uploaded</h3>
			<%= image_tag @asset.image.url(:medium) %>

		<% if @asset.pdf.present? %>
		<h3> Everything is OK! Thanks for the file </h3> 

		<% end %>
		<% end %>


	</div>

</div>
<td><%= link_to "Back to Files", assets_path, class: 'btn btn-default btn-sm' %></td>
<td><%= link_to "Delete Asset", project_asset_path(@asset.id), method: :delete, class: 'btn btn-default btn-sm' %></td>
</div>


