<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class=" navbar-header ">
      <%= link_to "AGENCYBOX", projects_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Projects", projects_path %></li> 
      <li><%= link_to "Clients", clients_path %></li> 
      <li><%= link_to "Files", assets_path %></li>
      <li><%= link_to "Admin Panel",  rails_admin_path  %></li> 
 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Options
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "New Project", new_project_path %></li>
            <li><%= link_to "New Client", new_client_path %></li> 
            <% if current_user.admin %>
              <li><%= link_to "New User", new_user_path %></li> 
            <% end %>
          </ul>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: 'DELETE' do %>
          <span class="glyphicon glyphicon-log-in"></span> Sign out
        <% end %>
      </li>
    </ul>
  </div>
</nav>


